@model Front_Office.ViewModels.HomeViewModel

@{
    ViewBag.Title = "CARYS - Article : " + Model.ArticleChoisi.LibelleArticle;
}

<div class="jumbotron">
    <h1>@Model.ArticleChoisi.LibelleArticle</h1>
    <img src="~/Content/Images/kaaris.png" alt="@Model.ArticleChoisi.LibelleArticle" class="img-responsive pull-right" />
    <ul>
        <li>Prix : @String.Format("{0:0.00}", Model.ArticleChoisi.Prix) €</li>
        <li>Genre : @Model.ArticleChoisi.IdGenre</li>
    </ul>
</div>
