@model Front_Office.ViewModels.HomeViewModel

@{
    ViewBag.Title = "CARYS - Accueil";
}

<div class="jumbotron">
    <h1>CARYS</h1>
    <p class="lead">Bienvenue sur notre site.</p>
    <p>@Html.ActionLink("Afficher le catalogue »", "Index", "Catalogue", null, new { @class = "btn btn-primary btn-lg" })</p>
    <img src="http://i.imgur.com/jaLfSb5.png" alt="Sebien" />
</div>